/* Home.css */

.input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 300px;
  max-width: 80%;
  margin-bottom: 10px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  width: 300px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  object-fit: contain;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.load-more-button {
  margin: 2rem auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #61dafb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #21a1f1;
}

.movie-title {
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin: 0.5rem 0;
}

.movie-info {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: #ddd;
}